body {
    margin: 0;
    font-family: 微软雅黑;
}

.left {
    width: 15%;
    height: 100%;
    border-right: 1px solid #CCCCCC;
    #FFFFFF；color: #000000;
    font-size: 14px;
    text-align: center;
}

.div1 {
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.div2 {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 13px;
    position: relative;
    border-bottom: #ccc 1px dotted;
}

.jbsz {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 40px;
    top: 10px;
    background: url("../images/8.png");
}

.xwzx {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 40px;
    top: 10px;
    background: url(../images/2.png);
}

.zxcp {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 40px;
    top: 10px;
    background: url(../images/4.png);
}

.lmtj {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 40px;
    top: 10px;
    background: url(../images/8.png);
}

.div3 {
    display: none;
    cursor: pointer;
    font-size: 13px;
}

.div3 ul {
    margin: 0;
    padding: 0;
}

.div3 li {
    height: 30px;
    line-height: 30px;
    list-style: none;
    border-bottom: #ccc 1px dotted;
    text-align: center;
}

.middle